.git/**
.vscode/**
.vscode-test/**
.claude
.DS_Store
.gitignore
.vscodeignore
node_modules/**
src/**
**/*.map
tsconfig.json
package-lock.json
*.vsix
out/**
dist/*.map
!dist/extension.js
!media/**
!resources/**
build.sh
publish.sh

